* {
  background: darkorange;
  justify-content: center;
}
body {
  position: relative;
}
.hidden {
  display: none !important;
}
.container {
  margin: 10px auto;
  height: auto;
  width: 60%;
}
h1 {
  font-size: 50px;
  color: brown;
}
@media only screen and (max-width: 1100px) {
  .container {
    width: 80%;
    height: 700px;
  }
}
