* {
  background: darkorange;
  justify-content: center;
}
body {
  position: relative;
}
.hidden {
  display: none !important;
}
.container {
  margin: 10px auto;
  height: auto;
  width: 60%;
  position: relative;
}
h2 {
  line-height: 60px;
  text-align: center;
  height: 80px;
  width: 300px;
  position: absolute;
  font-size: 3rem;
  top: 25%;
  left: 40%;
  color: #39b385;
}
h1 {
  text-align: center;
  font-size: 1.8rem;
  position: relative;
  color: white;
  text-transform: uppercase;
  transform: scale(1, 1) skewX(-10deg);
}
h1:before {
  position: absolute;
  content: '';
  top: -5px;
  height: 50px;
  left: 35%;
  width: 35%;
  z-index: -1;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.btn {
  opacity: 1;
  background-color: white;
  width: 350px;
  height: 350px;
  position: relative;
}
.btn__up {
  position: absolute;
  padding: 0 20px;
  top: 0;
  left: 40%;
}
.btn__down {
  position: absolute;
  padding: 0 25px;
  top: 70%;
  left: 40%;
}
.btn__right {
  position: absolute;
  top: 40%;
  right: 0;
}
.btn__left {
  position: absolute;
  top: 40%;
  left: 0%;
}
.button {
  /* margin: 0 auto; */
  opacity: 0;
  margin: -100px 0 0 300px;
  height: auto;
  width: 120px;
}
button {
  font-size: 5.5rem;
}
@media only screen and (max-width: 1100px) {
  .container {
    width: 80%;
    height: 700px;
  }
}
@media only screen and (max-width: 560px) {
  h1:before {
    top: -5px;
    left: 10%;
    width: 80%;
  }
  .button {
    /* margin: 0 auto; */
    opacity: 1;
  }
}
